body{
  font-family: 'Raleway', sans-serif;
}
#form{
  background-color: #8b1e2e;
  width: 400px;
  padding: 10px 15px;
  text-align: center;
}
h1{
  color: #8b1e2e;
  margin-left: 160px;
}
.codigo{
  display: block;
  width: 400px;
  height: 100px;
  text-align: center;
  margin: 10px 0;
  font-size: 40px;
}
.valor{
  width: 225px;
  height: 100px;
  background-color: #f9e777;
  border: 0;
  text-align: center;
  color: rgb(77, 77, 77);
  font-size: 30px;
}
.button{
  display: inline-block;
  width: 26px;
}
#btn-actualizar{
  width: 25px;
  height: 25px;
}
#btn-ok{
  width: 25px;
  height: 25px;
}
img{
  cursor: pointer;
}
.recaptcha{
  float: right;
  background-color: white;
  width: 140px;
  height: 75px;
}
